#!/bin/sh

# hotkey daemon
sxhkd &

# music player deamon
[ ! -s ~/.config/mpd/pid ] && mpd

# statusbar script
status -d 2> /dev/null

# bluetooth manager
# blueman-applet &

# network manager
nm-applet &

# usb daemon
udiskie --automount --no-notify --smart-tray &

# notification daemon
twmnd &
