#!/usr/bin/env sh

# hotkey daemon
sxhkd &>> /tmp/sxhkd.log &

# music player deamon
[ ! -s ~/.config/mpd/pid ] && mpd

# statusbar script
status -d

# bluetooth manager
blueman-applet &

# network manager
nm-applet &

# usb daemon
udiskie --automount --no-notify --smart-tray &

# notification daemon
twmnd &
